:root {
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainGreen: green;
}

body {
  font-family: 'Lora', serif !important;
  background: var(--mainWhite) !important;
}

button {
  text-transform: capitalize;
  font-size: 1.4rem;
  background: transparent;
  border: 0.05rem solid var(--mainDark);
  color: var(--mainGreen);
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  margin: 0.2rem 0.5rem 0.2rem 0;
  transition: all 0.5s ease-in-out;
}

button:hover {
  background: var(--mainDark);
  color: var(--mainGreen);
}

button:focus {
  outline: none;
}